.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

::-webkit-scrollbar {
    width: 2px;
    height: auto;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

main {
    min-width: 1200px;
    height: 100vh;
    min-height: 700px;
}

/*********** menu ***********/

.menu {
    width: 350px;
    height: 100%;
}

.menu-left , .menu-right {
    height: 100%;
}

/* menu-left */

.menu-left {
    width: 100px;
    background: #1d2531;
}

.profile {
    height: 69px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 50px;
    background: #fff;
}

.profile > div {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.profile-photo {
    position: relative;
}

.profile-photo > div {
    width: 15px;
    height: 15px;
    border: 3px solid #38a76a;
    border-radius: 50%;
    position: absolute;
    top: 32px;
    right: 3px;
}

.profile .name {
    padding: 10px 0;
}

.profile .name > h3 {
    color: #2a9ef6;
}

.profile .name > p {
    color: #aaa;
}

.profile > div:nth-child(3) > input {
    padding: 10px 0;
    border: none;
    outline: none;
    background: transparent;
    color: #aaa;
    line-height: 35px;
}

.menu-left-top {
    position: fixed;
}

.menu-left-top li , .add-app {
    margin: 20px;
    cursor: pointer;
}

.menu-left-bottom {
    position: fixed;
    width: 100px;
    padding: 25px;
    bottom: 0;
    background: #1d2531;
}

.menu-left-bottom > div {
    cursor: pointer;
}

/* menu-right */

.menu-right {
    width: 250px;
    background: #222c3c;
    padding: 30px;
}

.point-blue , .point-red {
    height: 20px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 20px;
}

.point-blue {
    width: 30px;
    border-radius: 10px;
    background: #2a9ef6;
    
}

.point-red {
    width: 20px;
    border-radius: 50%;
    background: #d33014;
}

.menu-right h3 {
    font-size: 12px;
    color: #475364;
}

.menu-right li {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    margin: 20px 0;
    position: relative;
}

.menu-right li > a {
    color: #b7c0cd;
}

.menu-right li > a:hover {
    color: #fff;
    text-decoration: none;
}

.menu-right > hr {
    border: 0;
    height: 1px;
    background: #475364;
    margin-bottom: 20px;
}

.server-capacity {
    width: 190px;
    position: fixed;
    bottom: 0;
    background: #222c3c;
    color: #fff;
    padding: 10px 0;
}

.server-capacity > div {
    margin: 10px 0;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background: #475364;
    border-radius: 2px;
}

.progress-bar > div {
    width: 25%;
    height: 100%;
    background: #8c71e5;
    border-radius: 2px;
}

/*********** chat ***********/

.chat {
    width: calc(100vw - 350px);
    min-width: 850px;
    height: 100%;
}

/* chat-head */

.chat-head {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ddd;
}

.chat-head > h1 {
    font-weight: normal;
    line-height: 70px;
    margin-left: 30px;
}

/* chat-main */

.chat-main {
    height: calc(100vh - 70px);
    min-height: 630px;
}

/* chat-list */

.chat-list {
    width: 350px;
    height: 100%;
    border-right: 1px solid #ddd;
}

/* search */

.search {
    height: 60px;
    border-bottom: 1px solid #ddd;
}

.search > form {
    width: 100%;
    height: 100%;
    padding: 15px 30px;
}

.search > form > input {
    outline: none;
    height: 30px;
    border: 1px solid #ddd;
}

.search > form > input[type="text"] {
    width: 259px;
    border-radius: 3px 0 0 3px;
    border-right: none;
    padding: 0 10px;
}

.search > form > input[type="button"] {
    width: 30px;
    border-radius: 0 3px 3px 0;
    border-left: none;
    background: url(../img/ife_icon_27.png) no-repeat center;
}

/* friends */

.friends {
    height: calc(100vh - 130px);
    min-height: 570px;
    overflow-y: auto;
}

.friends > ul > li {
    height: 120px;
    border-bottom: 1px solid #ddd;
    padding: 15px 30px;
}

.active-friend {
    border-left: 2px solid #2a9ef6;
}

.active-friend .friend-name {
    color: #2a9ef6 !important;
}

.friends > ul > li > div {
    width: 100%;
    height: 50px;
    position: relative;
}

.friends > ul > li > div > div {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 20px;
}

.friends .friend-name {
    color: #666;
}

.friends > ul > li > div > div > p {
    color: #aaa;
}

.friends .message-time {
    color: #aaa;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}

.message-amount {
    width: 20px;
    height: 20px;
    background: #2a9ef6;
    color: #fff;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 65px;
    right: 0;
}

.current-message {
    margin-top: 10px;
    line-height: 15px;
    width: 260px;
    height: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
}

/* chat-content */

.chat-content {
    width: calc(100vw - 700px);
    min-width: 500px;
    height: 100%;
}

/* chat-content-head */

.chat-content-head {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.chat-content-head > h2 {
    line-height: 60px;
    padding: 0 30px;
    color: #666;
    font-weight: normal;
}

.tools {
    position: absolute;
    top: 15px;
    right: 20px;
    height: 30px;
}

.tools > div {
    display: inline-block;
}

.tools > div > * {
    vertical-align: top;
}

.tools input {
    width: 35px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    outline: none;
}

.tools .pages {
    display: inline-block;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #666;
}

.tools-icon1 {
    background: url(../img/ife_icon_30.png);
}

.tools-icon2 {
    background: url(../img/ife_icon_31.png);
}

.tools-icon3 {
    background: url(../img/ife_icon_32.png);
}

.tools-icon4 {
    background: url(../img/ife_icon_28.png);
}

.tools-icon5 {
    background: url(../img/ife_icon_29.png);
}

/* chat-content-main */

.chat-content-main {
    height: calc(100vh - 210px);
    min-height: 490px;
    overflow: auto;
}

.chat-content-main > ul {
    padding-bottom: 200px;
}

.chat-content-main > ul > li {
    padding: 30px;
}

.chat-content-main > ul > li > .left {
    width: 50px;
}

.chat-content-main > ul > li > .right {
    width: calc(100vw - 822px);
    min-width: 378px;
    margin-left: 10px;
}

.chat-content-main > ul > li > .right > h3 {
    margin-bottom: 5px;
}

.chat-content-main .friend-name {
    color: #666;
    margin-right: 10px;
}

.chat-content-main .message-time {
    color: #aaa;
}

.chat-content-main > ul > li > .right > p {
    line-height: 20px;
    color: #666;
}

.chat-content-main .line {
    width: 100%;
    height: 1px;
    border-top: 1px solid #ddd;
    position: relative;
    display: flex;
}

.chat-content-main .line > p {
    background: #fff;
    color: #aaa;
    margin: 0 auto;
    padding: 0 20px;
    align-self: center;
    text-align: center;
}

.chat-content-main .line-new {
    border: 0.5px solid #2a9ef6;
}

.chat-content-main .line-new > p {
    color: #2a9ef6;
}

/* chat-content-foot */

.chat-content-foot {
    height: 80px;
    display: flex;
}

.chat-content-foot > form {
    text-align: center;
    width: 100%;
    font-size: 0;
    align-self: center;
}

.chat-content-foot > form > input {
    height: 50px;
    border: none;
    outline: none;
    vertical-align: top;
}

.chat-content-foot > form > input[type="button"] {
    width: 50px;
    border: 1px solid #ddd;
    background: #fcfcfd;
    border-radius: 5px 0 0 5px;
}

.chat-content-foot > form > input[type="text"] {
    width: 70%;
    border: 1px solid #ddd;
    border-left: none;
    border-radius: 0 5px 5px 0;
    padding: 0 20px;
}